body {
    font-family: sans-serif;
    background-color: white;
    }


#logo {
    
    height:150px;
    padding-top:30px;
    padding-right:60px;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}



 
           .container{
               color:  black;
               max-width: 800px;
               font-family: times new roman;
               margin: 0 auto;
               padding-top: 50px;
               padding-right: 30px;
               padding-left: 30px;
           }
       
