body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
    color: black;
}

.center {
    text-align: left;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 
           .container{
               color:  white;
               max-width: 800px;
               font-family: times new roman;
               margin: 0 auto;
               padding-top: 50px;
               padding-right: 30px;
               padding-left: 30px;
           }
       
