body {
    font-family: sans-serif;
    background-color: #cccccc;
    margin-top: 0

}


#logo {
    text-align: center;
    height:200px;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}



 
           .container{
               color:  black;
               max-width: 800px;
               font-family: times new roman;
               margin: 0 auto;
               padding-top: 50px;
               padding-right: 30px;
               padding-left: 30px;
           }
       
